@font-face {
    font-family: 'Maven Pro';
    src: url('/assets/fonts/maven-pro/MavenPro-Regular.woff2') format('woff2'),
         url('/assets/fonts/maven-pro/MavenPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('/assets/fonts/maven-pro/MavenPro-Bold.woff2') format('woff2'),
            url('/assets/fonts/maven-pro/MavenPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
