@use 'assets/fonts/fontFace.scss' as *;

$green-color-2: #0A4647;
$white-color-1: #F4FAF8;
$success-color: #5b8f5d;
$error-color: #ca4c43; 
$info-color: #4fa0e2;
$warning-color: #cf9133;
    
:root {
    --color-surface-default: #f32179;
    --color-background-1: rgba(29, 29, 29, 1);
    --color-background-2: rgba(29, 29, 29, .7);
    --color-surface-overlay: rgba(71, 71, 71, .8);
  
    --color-text-default: rgba(164, 172, 188, 1);
    --color-text-title: rgba(255, 255, 255, 1);
    --color-text-overlay:rgba(71, 71, 71, 1);
}


.dark-theme {
    --color-surface-default: rgb(33, 33, 33);
    --color-surface-overlay: rgba(1, 7, 7, 0.85);
    --color-surface-light: rgb(53, 53, 53);
    --color-surface-dark: rgb(196, 196, 196);
    --color-surface-muted: rgb(61, 61, 61);
    --color-primary-accent: rgb(176, 201, 202);
    --color-primary-base: rgb(10, 70, 71);
    --color-surface-secondary: rgb(228, 228, 228);

    --color-text-default: rgb(228, 228, 228);
    --color-text-title: rgb(239, 239, 239);
}
  
:root, .dark-theme {
    transition: all 0.3s ease;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-family: 'Maven Pro', sans-serif;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}   

@mixin flex-space-between-column{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
} 

@mixin flex-center-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin flex-left-top {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin flex-right-top {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin font-size-small {
    font-size: clamp(12px, 1.2vh, 15px)!important;
}

@mixin font-size-medium {
    font-size: clamp(15px, 1.5vh, 18px)!important;
}

@mixin font-size-larger {
    font-size: clamp(18px, 1.7vh, 20px)!important;
}

@mixin shadow-bottom {
    box-shadow: 0 -10px 15px 0 var(--color-text-overlay);
}

@mixin shadow-bottom-left {
    box-shadow: 0 -10px 15px 0 var(--color-text-overlay);
}

@mixin padding-1 {
    padding: clamp(4px, 1vh, 8px);
}

@mixin padding-2 {
    padding: clamp(8px, 2vh, 16px);
}
@mixin padding-3 {
    padding: clamp(12px, 3vh, 24px);
}
@mixin padding-4 {
    padding: clamp(16px, 4vh, 32px);
}

@mixin gap-1 {
    gap: clamp(4px, 1vh, 8px);
}

@mixin gap-2 {
    gap: clamp(8px, 2vh, 16px);
}

@mixin gap-3 {
    gap: clamp(12px, 4vh, 24px);
}

@mixin border-radius-1 {
    border-radius: clamp(4px, 1vh, 8px);
}

@mixin border-radius-2 {
    border-radius: clamp(8px, 2vh, 16px);
}

@mixin border-radius-3 {
    border-radius: clamp(16px, 3vh, 32px);
}

@mixin transition {
    transition: all 0.3s ease;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    @include flex-center-top;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    align-items: center;
    @include padding-2;

    .modal-container {
        background-color: var(--color-text-overlay);
        @include border-radius-2;
        @include padding-2;
        width: clamp(300px, 70%, 1000px);
        height: auto;
        z-index: 3;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }
}

