@use '../../../../../styles.scss' as *;

h3{
    color: var(--color-text-title); 
    font-weight: 500;
    width: clamp(35rem, 50%, 70rem);
    min-width: 35rem;

    b{
        color: var(--color-surface-default)!important; 
    }
}