@use '../../../../styles' as *;

.side-bar-content {
    width: 5rem;
    height: 100%;
    background-color: var(--color-surface-overlay);
    @include flex-center-top;
    @include gap-2;
    @include transition;

    .side-bar-content-top,
    .side-bar-content-middle {
        width: 100%;
        font-weight: 400;
        @include flex-center-top;
        @include transition;

    }

    .side-bar-content-top {
        @include font-size-larger;
        @include padding-2;
        color: var(--color-text-default);
        @include transition;

        fa-icon{
            cursor: pointer;

            &:hover{
                transform: scale(1.1)!important;
                @include transition;
            }
        }
    }

    .side-bar-content-middle {
        @include font-size-medium;
        @include gap-1;
    }
}

.menu-open{
    width: 20rem;

    .side-bar-content-top {
        @include flex-space-between;

        img{
            width: 6rem;
            height: auto;

        }
    }

    .side-bar-content-middle {
        @include flex-left-top;
        width: 90%;
    }
}
