@use '../styles.scss' as *;

.app-content{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-image: linear-gradient(180deg, var(--color-background-1), var(--color-background-2));
    @include flex-center;

    .app-display{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 2rem;
        @include flex-left-top;
    }
}